@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');

body {
    background-color: rgb(201, 194, 199);
}

#header {
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
    font-size: 45px;
}

#services-container {
    position: relative;
    display: inline-block;
    height: 350px;
    width: 800px;
}

.baddies {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 200px;
    left: 17px;
    top: 50px;
}

.img img {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 25px;
    top: 20px;
}

.count {
    position: absolute;
    bottom: 2px;
    left: 5px;
}

input {
    width: 180px;
}

.baddy-name {
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 5px;
}

.cost {
    display: inline-block;
    margin-bottom: 5px;
}

.cost img {
    height: 25px;
    width: 25px;
}

#footer {
    position: relative;
    bottom: 0px;
}

.tinycoin {
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 25px;
}

#cheep-cheep {
    position: relative;
    display: inline-block;
    right: 0px;
}

#calc-btn {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 250px;
}

#cost-box {
    position: absolute;
    display: inline-block;
    bottom: -160px;
    height: 150px;
    width: 200px;
    left: 240px;

}

#contact {
    border-top: 1px solid black;
    display: inline-block;
    list-style-type: none;
    position: absolute;
    bottom: -300px;
}

#contact > li {
    display: inline-block;
    margin: 30px;
}

#bold {
    font-weight: bold;
}