#headers {
    font-family: 'Georgia';
    text-align: center;
}

#headline {
    color: darkgreen;
}

p {
    line-height: 25px;
}

a:link {
    text-decoration: none;
}

#allUppers {
    text-transform: uppercase;
}