

body {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Cabin');

.stickyBar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar {
    height: 65px;
    color: black;
    background-color: rgb(59,63,78);
    font-family: 'Cabin', sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    border-bottom: 1px solid black;
    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
}

.navLogoDiv {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 2px;
}
.navLogo {
    height: 65px;
}

.navSection {
    position: relative;
    width: 382px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.homePage{
    background: url(../images/money.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.homeContent {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(221, 213, 213);
    position: absolute;
    top: 100px;
    background-color: rgba(203, 189, 189, 0.166);
    padding: 10px;
    margin: auto;
}

.companyName {
    letter-spacing: 6px;
    font-size: 4em;
}

.companyDescr {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    font-size: 1.4em;
}

.stocksPage {
    height: 900px;
    background-color: lightgray;
    position: relative;
    top: -21px;
}

.buySellPageTitle {
    text-align: center;
    padding-top: 30px;
}

ul > .portfolioList {
    padding-left: 0px;
}

li {
    padding-bottom: 15px;
    padding-left: 30px;
}

.favStocksAndDisplayStocks {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.favStocks {
    border: 3px solid black;
    margin: 20px;
}

.favStocks > ol > li {
    cursor: pointer;
    text-decoration: underline;
}

.favStocksHeader {
    width: 100%;
    height: 7%;
    background-color: rgb(67,158,160);
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

.portfolioList {
    padding-left: 0px;
    list-style-type: none;
}

.portfolioItemHeader {
    padding-left: 0px;
    font-weight: bold;
    list-style-type: none;
}

/* .favStocks {
    border: 1px solid black;
} */

.stocksPageContent {
    margin-left: 20px;
}

.resourcesPage {
    height: 900px;
    background-color: lightgray;
    position: relative;
}

.resourcesList {
    font-size: 1.4em;
}

.wallStImg {
    height: 580px;
    background-image: url("../images/wallst.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 78%;
    text-align: center;
    opacity: 0.8;
    display: flex;
    justify-content: center;
}

.resourcesTitle {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    letter-spacing: 3px;
    color: rgb(10, 3, 3);
    background-color: rgba(128, 128, 128, 0.324);
    padding: 18px;
    position: absolute;
    top: 400px;
}

.navLinks:link {
    color:white;
    text-decoration: none;
}

.navLinks:visited {
    color:white;
    text-decoration: none;
}

.navLinks:hover {
    /* border-top: 2px solid black; */
    border-bottom: 2px solid black;
    /* text-decoration: underline overline; */
}

.italicQuote {
    font-style: italic;
}

.buySellPage {
    background-color: rgb(38, 42, 55);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.aggregateDisplay {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-column-gap: 10px;
    height: 110px;
    width: 100%;
}

.aggregateBoxes {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 100px;
    width: 225px;
    border-radius: 4px;
}

.aggregateTitle {
    margin-top: 5px;
}

.aggregateValue {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.totalAssets {
    background-color: rgb(80, 170, 166);
}

.totalBlankDiv1 {
    background-color: rgb(23, 140, 251);
}

.totalBlankDiv2 {
    background-color: rgb(221, 86, 115);
}

.totalReturn {
    background-color: rgb(250, 186, 55);
}

.favStock {
    color: white;
}